{:source-paths ["src/cljs" "resources" "src/clj"]
 :deps {:aliases [:dev]}
 :dev-http {8000 "./resources/public"}

 :builds {:app {:target :browser
                :output-dir "resources/public/js/compiled/out"
                :asset-path "/js/compiled/out"
                ;;:output-to  "resources/public/js/compiled/app.js"
                :source-map "resources/public/js/compiled/out/app.js.map"
                :source-map-timestamp true
                :external-config {:devtools/config {:features-to-install :all}}
                :devtools {:after-load builderien.core/reload!
                           :http-root "resources/public/"
                           :http-port 3000}
                :modules {:app {:entries [builderien.core]}}
                :main builderien.core/init}

          :mobile {:target :react-native
                   :init-fn builderien.core/init
                   :output-dir "target"
                   :devtools {:autoload true
                              :preloads [shadow.expo.keep-awake]}}}}
